/obj
/bin/Debug
/bin/Release/chat.exe
/bin/Release/chat.pdb
/bin/Release/IocpSharp.dll
/bin/Release/IocpSharp.pdb
/app.config
/bin/Release/IocpSharpCore.dll
/bin/Release/IocpSharpCore.pdb
/bin/Release/chat.exe.config
/bin/Release/net462/IocpSharp.dll
/bin/Release/net462/IocpSharp.pdb
/bin/Release/net462/IocpSharpCore.dll
/bin/Release/net462/IocpSharpCore.pdb
/bin/Release/net462/WebSocketChat.exe
/bin/Release/net462/WebSocketChat.exe.config
/bin/Release/net462/WebSocketChat.pdb
/bin/Release/net50/IocpSharp.dll
/bin/Release/net50/IocpSharp.pdb
/bin/Release/net50/IocpSharpCore.dll
/bin/Release/net50/IocpSharpCore.pdb
/bin/Release/net50/WebSocketChat.deps.json
/bin/Release/net50/WebSocketChat.dll
/bin/Release/net50/WebSocketChat.dll.config
/bin/Release/net50/WebSocketChat.exe
/bin/Release/net50/WebSocketChat.pdb
/bin/Release/net50/WebSocketChat.runtimeconfig.dev.json
/bin/Release/net50/WebSocketChat.runtimeconfig.json
